@charset "UTF-8";
.str1 {stroke:#2B2A29;stroke-width:0.174705}
.str0 {stroke:#1C2331;stroke-width:0.174705}
.str2 {stroke:#263238;stroke-width:0.0665624}
.fil2 {fill:none}
.fil4 {fill:#4285F4}
.fil5 {fill:#CC0000}
.fil0 {fill:#FEFEFE}
.fil3 {fill:#FEFEFE}
.fil1 {fill:#4B515D;fill-rule:nonzero}
